@media(max-width: 900px) {
    .window-tasks,
    .add-task {
        padding: 0 50px;
    }
    .header {
        padding: 20px 110px;
    }
}

@media(max-width: 700px) {
    .window-tasks,
    .add-task {
        padding: 0 30px;
    }
    .header {
        padding: 20px 90px;
    }
}

@media(max-width: 550px) {
    .window-tasks,
    .add-task {
        padding: 0 10px;
    }
    .header {
        padding: 20px 50px;
    }
}

@media(max-width: 400px) {
    body {
        font-size: 10px;
    }
    .add-task__title,
    .window-tasks__title {
        font-size: 14px;
    }
    .window-tasks__empty,
    .add-task__submit--select,
    .window-tasks__item {
        font-size: 10px;
    }
    .add-task__submit--button,
    .add-task__submit--input {
        font-size: 16px;
    }
    .add-task__submit--select {
        width: 100px;
    }
}

@media(max-width: 235px) {
    .header__logo {
        font-size: 16px;
    }
}